#heading {
  text-align: center;
}

h1 {
  color: #f8f8f8;
}

h2  {
  color: #f8f8f8;
  display: inline-block;
}

.crypt-info {
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  border-radius: 6px;
  text-align: center;
}

.container {
  width: 380px;
}

#advertise {
  height: 50px;
  background-color: white;
  margin-top: 30px
}

.heading {

}
